<button class="btn btn-link back-link" (click)="goBack()">
  ← Изменить размеры матриц
</button>
<h3 class="pb-3 title">
  Введите матрицы
</h3>
<form *ngIf="!error" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6 matrix-form">
      <h5>Первая матрица</h5>
      <table>
        <tr *ngFor="let row of firstMatrixRows; let rowIndex = index">
          <td
            class="column"
            *ngFor="let column of firstMatrixColumns; let columnIndex = index"
          >
            <input
              type="number"
              class="form-control value-input"
              id="first_{{ rowIndex + 1 }}_{{ columnIndex + 1 }}"
              formControlName="first_{{ rowIndex + 1 }}_{{ columnIndex + 1 }}"
              required
            />
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6 matrix-form">
      <h5>Вторая матрица</h5>
      <table>
        <tr *ngFor="let row of secondMatrixRows; let rowIndex = index">
          <td
            class="column"
            *ngFor="let column of secondMatrixColumns; let columnIndex = index"
          >
            <input
              type="number"
              class="form-control value-input"
              id="second_{{ rowIndex + 1 }}_{{ columnIndex + 1 }}"
              formControlName="second_{{ rowIndex + 1 }}_{{ columnIndex + 1 }}"
              required
            />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <button class="btn btn-primary submit-button" [disabled]="!form.valid">
    Умножить
  </button>
</form>
<div *ngIf="error" class="alert alert-danger mt-3" role="alert">
  {{ error }}
</div>
